header div {
    display: flex;
    text-align: center;
    padding: 30px;
}

#top_section{
    display: flex;
    justify-content: space-between;
}

section div {
    text-align: center;
}

h3 {
    margin: 2px;
    font-weight: normal;
}

#startButton {
    margin: 30px;
}

.question {
    color: red;
}

.answer {
    color: green;
}

/* #answers_area {
    align-items: center;
    text-align: center;
} */